body{
    background-color: wheat;
}
.formulario1{
    background-color: #45fb;
    color: #323;
    text-align: center;
    border-radius: 50px;
}
.s{
    background-color: #237;
    box-shadow: 4px 4px #323;
    border-radius: 50px;
}
input{
    cursor: pointer;

}
.justificado{
    text-align: justify;
}
.mayuscula{
    text-transform: uppercase;
}
.negrita{
    font-weight: bold;
}
